<div class="jumbotron">

	<h2>Contact Us</h2>
	<p></p>
	<h4>We will be happy to assist you with any of your inquiries</h4>
	<h4>You can contact:</h4>
	<h4><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  	Shofi Bahalwan</button>&emsp;if you'd like us to speak with you in English, or</h4>
	<h4><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalone">
  	Muhammad Sayed</button>&emsp;if you'd like to ask us in Arabic</h4>

  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">Shofi Bahalwan</h2>
	      </div>
	      <div class="modal-body">
	        <p>phone number : </p>
	        <p class="text-center">(+966) 531-631-141</p>
	        <p>e-mail address : </p>
	        <p class="text-center">smbahalwan@gmail.com</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Got it..</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="myModalone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">Muhammad Sayed</h2>
	      </div>
	      <div class="modal-body">
	        <p>phone number : </p>
	        <p class="text-center">(+966) 55-685-2837</p>
	        <p>e-mail address : </p>
	        <p class="text-center">memosyed@gmail.com</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Got it..</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>