<div class="jumbotron">

	<h2>Contact Us</h2>
	<p></p>
	<p></p>
	<p></p>
	<h4>We will be happy to assist you with any of your inquiries</h4>
	<p></p>
	<h4>You can contact:</h4>
	<h4>Shofi Bahalwan if you'd like us to speak with you in English</h4>
	<h4>Or Mohammed Sayed if you'd like to ask us in Arabic</h4>
</div>