<div class="jumbotron">

	<h2>Portfolio</h2>
	<p></p>
	<h4>Oops! Look like we haven't got anything to show you yet..</h4>
	<h4>Wanna be our first neighbour? <%= link_to 'Get in Touch', contact_path, class: "btn btn-primary btn-lg" %></h4>

</div>